@font-face {
  src: url(../font/Minecraft-Regular.otf);
  font-family: Minecraft;
}

body{
  background-image: url(background.jpg);
  color:#666666;
  font-family:sans-serif;
}

#titelheder{
  background-color:#ffffff;
  color:#00bf4c;
  font-family:Minecraft;
  border-color: #00bf4c;
  border-style: solid;
  border-width: thick;
}

#titelheder a:active{
  color:#006b2b;
}

#headdetail{
  margin: 0px;
  background-color:#00bf4c;
  color:#ffffff;
  font-family:Minecraft;
  border-color: #00bf4c;
  border-style: solid;
  border-width: thick;
}

#pagesize {
  background-color:#ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 720px;
  max-width: 1080px;
  width:80%;
}

#line1{
  border-style: solid;
  border-color: #00bf4c;
}

#newshead{
  margin: 0px;
  font-family:Minecraft;
  text-align: center;;
  font-style: italic;
  font-size: 24pt;
  border-color: #00bf4c;
  border-style: solid;
  border-width: thick;
}

table, th, td {
  border: 2px solid;
  border-collapse: collapse;
  padding: 5px;
  width: 50%;
  border-top: none;
  border-bottom: none;
}

td, th{
  font-family: Minecraft;
}

th {
  font-weight: bold;
  text-decoration: underline;
}


nav{
  font-family: Minecraft;
  font-size: 16pt;
  background-color:#3366CC;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav a{
  text-decoration: none;
  color: #FFFFFF;
}
nav a:active{
  text-decoration: none;
  color: #000770;
}

#headbutton{
  text-decoration: none;
  color:#00bf4c;
}

#buttonLink {
  display: inline-block;
  text-decoration: none;
  font-family: Minecraft;
  color: #FFFFFF;
  background-color:#3366CC;
  padding: 10;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#buttonLink:hover {
  background-color: #00bf4c;
  color: white;
}


main{
  padding-left: 20px;
  padding-right: 20px;
  background-color:#ffffff;
  border-top-color:;
  border-top-style: solid;
  border-top-width: medium;
  border-bottom-color:;
  border-bottom-style: solid;
  border-bottom-width: medium;
}

h2{
  color:#3366CC;
  font-size: 24pt;
  font-family: Minecraft;
}
h3{
  color: #3366CC;
  font-family:Minecraft;
  font-weight: bold;
  margin: 5px;
}

h4{
  font-family:Minecraft;
  font-weight: bold;
  margin: 5px;
}

h5{
  color: #454545;
  font-family:Helvetica;
}



#img {
  border-color: #00bf4c;
  border-width: thick;
  border-style: solid;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.box {
   display: flex;
   align-items:center;
   justify-content: center;
}

.imgeDescription {
  position: relative;
  width: 645px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #00bf4c;
}

.iconDescription {
  position: relative;
  color: #ffffff;
}

footer{
  font-family: Minecraft;
  background-color: #ffffff;
  border-color: #00bf4c;
  border-style: solid;
  border-width: thick;
  font-size:.70em;
  font-style:italic;
  text-align:center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
