@font-face {
  src: url(../font/Minecraft-Regular.otf);
  font-family: Minecraft;
}

/*Phone Size*/ 
@media only screen and (max-width: 821px) {
  #wrapper {
    display: grid;
    grid-template-columns: 
    [start] 1fr 
    1fr 1fr 1fr 1fr 1fr
    [end];
    
    grid-template-rows: 
    [navbar] 65px
    [main] 5fr
    [footer] 135px;
    gap: 0px;
    margin: 0px;
    padding: 0px;
  }
  
  header {
    grid-column: 1 / 7;
    grid-row: 1;
  
    background-color: #3366CC;
  
    font-family: "Minecraft";
    font-size: 12pt;
    color: white;
    padding: 5px;

    -webkit-user-select: none;
    user-select: none;
  }
  
  #desktheader {
    display: none;
  }

  /*Navigation Dropdown*/
  .dropbtn {
    background-color: #3366CC;
    color: white;
    font-family: Minecraft;
    padding: 15px;
    font-size: 14pt;
    width: 100%;
    border: none;
    cursor: pointer;

    -webkit-user-select: none;
    user-select: none;
  }

  .dropdown-content {
    width: 100%;
    display: none;
    position:relative;
    background-color: #3366CC;
    border: gray solid 3px;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14pt;
    display: block;
  }

  .show {display: block;}
  
  nav {
    display: none;
  }


  main {
    grid-column: start / end;
    grid-row: main;
  
    background-color: white;
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;
  
    font-family: "Minecraft";
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #line1{
    border-style: solid;
    border-color: #00bf4c;
  }

  h2 {
    color: #00bf4c;
    font-weight: normal;
  }

  h3{
    color: #3366CC;
    font-family:Minecraft;
    font-weight: bold;
    margin: 5px;
  }

  .pagetitleinfo {
    display: none;
  }

  .textsize1 {
    font-family: Minecraft;
    font-size: 20px;
  }

  .textsize2 {
    font-family: Minecraft;
    font-size: 18px;
  }

  .textsize3 {
    font-family: Minecraft;
    font-size: 14px;
  }

  .textsize4 {
    font-family: Minecraft;
    font-size: 12px;
  }

  #maintext {
    margin-left: 5%;
    margin-right: 5%;
  }

  #articeltext {
    margin-left: 10%;
    margin-right: 10%;
  }

  #buttonLink {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-family: Minecraft;
    color: #FFFFFF;
    background-color:#3366CC;
    padding: 10px;
    border-top: 1.5px solid #3366CC;
    border-left: 1.5px solid #3366CC;
    border-right: 3px solid #528afa;
    border-bottom: 3px solid #528afa;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;

    -webkit-user-select: none;
    user-select: none;
  }
  
  #buttonLink:hover {
    background-color: #00bf4c;
    color: white;
    border-top-color: #00bf4c;
    border-left-color: #00bf4c;
    border-right-color: #26f076;
    border-bottom-color: #26f076;
  }
  
  #buttonLink:active {
    background-color: #dbdbdb;
    color: #00bf4c;
    border-top-color: #dbdbdb;
    border-left-color: #dbdbdb;
    border-right-color: #adadad;
    border-bottom-color: #adadad;
  }

  .Image {
    max-width: 95%;
    position: relative;
    margin: auto;
    border-style: solid;
    border-color: #3366CC;
    border-width: 4px;
    border-radius: 5px;

    -webkit-user-select: none;
    user-select: none;
}

.Imgtable {
  background-color: #3366CC;
  width: 95%;
  padding: 8px;
}

.ImgLink {
  font-size: 8pt;
}
.ImgTitle {
  font-size: 8pt;
}

  #ComputerForm {
    display: none;
  }

  #PhoneForm {
    -webkit-user-select: none;
    user-select: none;
  }

  #defaultForm {
    -webkit-user-select: none;
    user-select: none;
    width: 90%;
    background-color:#eeeeee;
    border-color: #eeeeee;
    border-right-color: #dbdbdb;
    border-bottom-color: #dbdbdb;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    font-family:Minecraft;
    text-align:center;
  }

  .defaultSelect {
    font-family: Minecraft;
    font-size: 14px;
    color: gray;
    background-color: #ffffff;

    width: 110px;
    padding: 8px 16px;
    margin: 8px 0;
    border-left: 1.5px solid #3366CC;
    border-top: 1.5px solid #3366CC;
    border-bottom: 3px solid #3366CC;
    border-right: 3px solid #3366CC;
    border-radius: 3px;
  }

  .defaultInput {
    font-family: Minecraft;
    font-size: 12px;
    color: gray;

    width: 115px;
    padding: 8px 16px;
    margin: 8px 0;
    border-left: 1.5px solid #3366CC;
    border-top: 1.5px solid #3366CC;
    border-bottom: 3px solid #3366CC;
    border-right: 3px solid #3366CC;
    border-radius: 3px;
  }

  /*--News Page Phone--*/
  #ElstreetJournal {
    font-family: Minecraft;
    color: #00bf4c;
    font-size: 20pt;
    font-weight: bold;
    text-shadow: 1.5px 1.5px #3366CC;
  }

  #flaghead {
    display: none;
  }

  #newTH {
    display: none;
  }

  #issue {
    display: none;
  }

  #displayDateTime {
    font-family: Minecraft;
    font-size: 14pt;
    color: white;
  }

  #publicationlocation {
    display: none;
  }

  #topictitle {
    font-size: 14pt;
    font-weight: bold;
    color: #3366CC;
  }

  /*Government Page*/
  .electiontable {
    display: none;
  }

  #ballot {
    width: 90%;
    background-color:#eeeeee;
    border-color: #eeeeee;
    border-right-color: #dbdbdb;
    border-bottom-color: #dbdbdb;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    font-family:Minecraft;
    text-align:center;
  }

  /*Tools Page Compute*/
  .areaFormPhone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .areaFormComputer {
    display: none;
  }
  
  /*Tools Page Computer*/

  /*Maps Page*/
  #Xcord {
    font-family: Minecraft;
    font-size: 12px;
    color: gray;
  
    width: 70px;
    padding: 8px 4px;
    border-left: 1.5px solid #3366CC;
    border-top: 1.5px solid #3366CC;
    border-bottom: 3px solid #3366CC;
    border-right: 3px solid #3366CC;
    border-radius: 3px;

    -webkit-user-select: none;
    user-select: none;
  }

  #Zcord {
    font-family: Minecraft;
    font-size: 12px;
    color: gray;

    width: 70px;
    padding: 8px 4px;
    border-left: 1.5px solid #3366CC;
    border-top: 1.5px solid #3366CC;
    border-bottom: 3px solid #3366CC;
    border-right: 3px solid #3366CC;
    border-radius: 3px;

    -webkit-user-select: none;
    user-select: none;
  }

  #findmapdes {
    display: none;
  }

    .slideshow-container {
        max-width: 95%;
        position: relative;
        margin: auto;
        border-style: solid;
        border-color: #3366CC;
        border-width: 4px;
        border-radius: 5px;

        -webkit-user-select: none;
        user-select: none;
    }

    .mySlides {
        display: none;
    }

    .ImgSlideText1 {
      font-size: 8pt;
    }
    .ImgSlideText2 {
      font-size: 8pt;
    }

    /* Next & previous buttons */
    .btn-group button {
        background-color: #3366CC;
        border: 1px solid #3366CC;
        color: white;
        padding: 5px 24px;
        cursor: pointer;
        float: left;
        font-family: Minecraft;
        font-size: 8pt;
        width: 50%;
    }


    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }

    .btn-group button:not(:last-child) {
        border-right: none;
    }

    .btn-group button:hover {
        background-color: #00bf4c;
    }

    .Imgtable {
        background-color: #3366CC;
        width: 100%;
        padding: 8px;
    }

  footer {
    grid-column:  start / end;
    grid-row: footer;
  
    border: 4px solid #00bf4c;
  
    font-family: "Minecraft";
    color: gray;
    font-size:.80em;
    font-style:italic;
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/*Phone Size*/ 



/*--------------------------------------------------------------------*/ 
/*--------------------------------------------------------------------*/ 



/*--Computer Size--*/ 
@media only screen and (min-width: 821px) {

  #wrapper {
    display: grid;
    margin: 0px;
    gap: 0px;
    grid-template-columns: 
    [start] 1fr 
    1fr 1fr 1fr 1fr 1fr
    [end];
    
    grid-template-rows: 
    [navbar] 60px
    [main] 5fr 
    [footer] 100px;
  }
  
  header {
    grid-column: 1;
    grid-row: 1;
  
    background-color: #3366CC;
  
    font-family: "Minecraft";
    font-size: 12pt;
    color: white;
    padding: 10px;

    -webkit-user-select: none;
    user-select: none;
  }
  
  #mobileheader{
    display: none;
  }

  #myDropdown {
    display: none;
  }
  
  nav {
    grid-column: 2 / end;
    grid-row: 1;
  
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  
    background-color: #3366CC;
  
    font-family: "Minecraft";
    font-size: 12pt;
    color: white;

    -webkit-user-select: none;
    user-select: none;
  }
  nav a{
    text-decoration: none;
    color: white;
    font-size: 12pt;
  }
  nav a:active{
    text-decoration: none;
    color: #000770;
  }
  
  main {
    grid-column: start / end;
  
    background-color: white;
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;
  
    font-family: "Minecraft";
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #line1{
    border-style: solid;
    border-color: #00bf4c;
  }

  h2 {
    color: #00bf4c;
    font-weight: normal;
  }

  h3{
    color: #3366CC;
    font-family:Minecraft;
    font-weight: bold;
    margin: 5px;
  }

  .pagetitleinfo {
    font-family: Minecraft;
    color: gray;
    font-size: 18px;
  }

  .textsize1 {
    font-family: Minecraft;
    font-size: 18px;
  }

  .textsize2 {
    font-family: Minecraft;
    font-size: 16px;
  }

  .textsize3 {
    font-family: Minecraft;
    font-size: 12px;
  }

  .textsize4 {
    font-family: Minecraft;
    font-size: 8px;
  }

  #maintext {
    margin-left: 15%;
    margin-right: 15%;
  }

  #articeltext {
    margin-left: 20%;
    margin-right: 20%;
  }

  #buttonLink {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-family: Minecraft;
    color: #FFFFFF;
    background-color:#3366CC;
    padding: 10px;
    border-top: 1.5px solid #3366CC;
    border-left: 1.5px solid #3366CC;
    border-right: 3px solid #528afa;
    border-bottom: 3px solid #528afa;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;

    -webkit-user-select: none;
    user-select: none;
  }
  
  #buttonLink:hover {
    background-color: #00bf4c;
    color: white;
    border-top-color: #00bf4c;
    border-left-color: #00bf4c;
    border-right-color: #26f076;
    border-bottom-color: #26f076;
  }
  
  #buttonLink:active {
    background-color: #dbdbdb;
    color: #00bf4c;
    border-top-color: #dbdbdb;
    border-left-color: #dbdbdb;
    border-right-color: #adadad;
    border-bottom-color: #adadad;
  }

  .Image {
    max-width: 60%;
    position: relative;
    margin: auto;
    border-style: solid;
    border-color: #3366CC;
    border-width: 4px;
    border-radius: 5px;

    -webkit-user-select: none;
    user-select: none;
}

.Imgtable {
  background-color: #3366CC;
  width: 100%;
  padding: 8px;
}

.ImgLink {
  font-size: 10pt;
}
.ImgTitle {
  font-size: 12pt;
}

  #PhoneForm {
    display: none;
  }

  #defaultForm {
    -webkit-user-select: none;
    user-select: none;
    width: 60%;
    background-color:#eeeeee;
    border-color: #eeeeee;
    border-right-color: #dbdbdb;
    border-bottom-color: #dbdbdb;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    font-family:Minecraft;
    text-align:center;
  }

  .defaultSelect {
    font-family: Minecraft;
    font-size: 16px;
    color: gray;
    background-color: #ffffff;

    width: 110px;
    padding: 8px 16px;
    margin: 8px 0;
    border-left: 1.5px solid #3366CC;
    border-top: 1.5px solid #3366CC;
    border-bottom: 3px solid #3366CC;
    border-right: 3px solid #3366CC;
    border-radius: 3px;
  }

  .defaultInput {
    font-family: Minecraft;
    font-size: 14px;
    color: gray;

    width: 115px;
    padding: 8px 16px;
    margin: 8px 0;
    border-left: 1.5px solid #3366CC;
    border-top: 1.5px solid #3366CC;
    border-bottom: 3px solid #3366CC;
    border-right: 3px solid #3366CC;
    border-radius: 3px;
  }

  /*--News Page Computer--*/
  #ElstreetJournal {
    font-family: Minecraft;
    color: #00bf4c;
    font-size: 30pt;
    font-weight: bold;
    text-shadow: 1.5px 1.5px #3366CC;
  }
  #issue {
      font-family: Minecraft;
      font-size: 10pt;
      color: white;
      font-weight: normal;
    }
    #displayDateTime {
      font-family: Minecraft;
      font-size: 14pt;
      color: white;
    }
    #publicationlocation {
      font-family: Minecraft;
      font-size: 10pt;
      color: white;
      font-weight: normal;
    }

    #topictitle {
      font-size: 14pt;
      font-weight: bold;
      color: #3366CC;
    }
    /*--News Page Computer--*/

    /*--Government Computer--*/
    #electionphone {
      display: none;
    }

    .electiontable{
      font-family: Minecraft;
      padding: 10px;
      width: 70%;
      border-left: solid 2px gray;
      border-right: solid 2px gray;
      color: gray;
    }

    #ballot {
      width: 70%;
      background-color:#eeeeee;
      border-color: #eeeeee;
      border-right-color: #dbdbdb;
      border-bottom-color: #dbdbdb;
      border-width: 5px;
      border-style: solid;
      border-radius: 5px;
      font-family:Minecraft;
      text-align:center;
    }
    /*--Government Page Computer--*/

    /*--Tools Page Computer--*/
    .areaFormComputer {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .areaFormPhone {
      display: none;
    }

    /*--Tools Page Computer--*/

   /*--Maps Page Computer--*/
    #Xcord {
      font-family: Minecraft;
      font-size: 14px;
      color: gray;

      width: 115px;
      padding: 8px 16px;
      margin: 8px 0;
      border-left: 1.5px solid #3366CC;
      border-top: 1.5px solid #3366CC;
      border-bottom: 3px solid #3366CC;
      border-right: 3px solid #3366CC;
      border-radius: 3px;

      -webkit-user-select: none;
      user-select: none;
    }
    #Zcord {
      font-family: Minecraft;
      font-size: 14px;
      color: gray;

      width: 115px;
      padding: 8px 16px;
      margin: 8px 0;
      border-left: 1.5px solid #3366CC;
      border-top: 1.5px solid #3366CC;
      border-bottom: 3px solid #3366CC;
      border-right: 3px solid #3366CC;
      border-radius: 3px;

      -webkit-user-select: none;
      user-select: none;
    }

    .slideshow-container {
      max-width: 60%;
      position: relative;
      margin: auto;
      border-style: solid;
      border-color: #3366CC;
      border-width: 4px;
      border-radius: 5px;

      -webkit-user-select: none;
      user-select: none;
  }

  .ImgSlideText1 {
    font-size: 10pt;
  }
  .ImgSlideText2 {
    font-size: 12pt;
  }

  /* Hide the images by default */
  .mySlides {
      display: none;
  }

  /* Next & previous buttons */
  .btn-group button {
      background-color: #3366CC; 
      border: 1px solid #3366CC;
      padding: 5px 24px;
      color: white;
      cursor: pointer;
      float: left;
      font-family: Minecraft;
      font-size: 14pt;
      width: 50%;
  }

  /* Clear floats (clearfix hack) */
  .btn-group:after {
      content: "";
      clear: both;
      display: table;
  }

  .btn-group button:not(:last-child) {
      border-right: none; /* Prevent double borders */
  }

  /* Add a background color on hover */
  .btn-group button:hover {
      background-color: #00bf4c;
  }

  .Imgtable {
      background-color: #3366CC;
      width: 100%;
      padding: 8px;
  }
  
  footer {
    grid-column:  start / end;
    grid-row: 3;
  
    border: 4px solid #00bf4c;
  
    font-family: "Minecraft";
    color: gray;
    font-size:.70em;
    font-style:italic;
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

}